.que-hacemos__container-buttons,
.que-hacemos,
.que-hacemos__card,
.que-hacemos__card__title,
.que-hacemos__card__description{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* to delete */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.que-hacemos__container-buttons,
.que-hacemos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.que-hacemos__container-buttons button {
    flex: 0 1 auto;
    padding: 8px;
    margin: 8px;
    background-color: #FBE40A;
    border: none;
    cursor: pointer;
}
.que-hacemos__container-buttons button:hover {
    background-color: #dfcc21;
}
.que-hacemos__card {
    flex: 0 1 500px;
    margin: 16px;
    overflow-x: hidden;
}
.que-hacemos__card__content {
    padding: 16px;
    transform: translateX(-100%);
    transition: linear .15s transform ;
}
.que-hacemos__card__title,
.que-hacemos__card__description {
    opacity: 0;
    transition: ease-in .5s opacity;
}
.que-hacemos__card:nth-child(odd) > .que-hacemos__card__content {
    background-color: #A8ABAE;
}
.que-hacemos__card:nth-child(even) > .que-hacemos__card__content {
    background-color: #000;
    color: #FFF;
}

.que-hacemos__card__title {
    margin-bottom: 16px;
}

.active {
    background-color: #000 !important;
    color: #FFF !important;
}